.picture{
    float: right;
    padding-right: 20px;
    width: 45%;

}

div{
    width: 90%;
    background-color: #C6E4D6;
    width: 71%;
    width: right 30%  left 15%;
    padding-bottom: 35px;
    border-radius: 13px;
    align-items: center;
    

}
 .griting0{
    padding-left: 20px;
    padding-bottom: 30px;
 }   

    

.banner content{
    margin:50px;
    
}
 
.input-btn{
    background-color: green;
    padding-bottom: 15px;
    padding-top: 15px;
    padding-right: 15px;
    padding-left: 15px;
    border-radius: 7px;
    border: none;
    color: aliceblue;
}

.boxs-container{
    display: flex;
    gap: 40px;

}
.box1{
    padding: 20px;
    border-radius: 9px;
    box-shadow: 0px 6px 50px 0.6 rgb(37, 36, 36);
    background-color: #8cb2f3;
}
.box2{
    padding: 20px;
    border-radius: 9px;
    border-radius: 0px 6px 50px 0.6 rgb(37, 36, 36);
    background-color:#C6E4D6;
}
.box3{
    padding: 20px;
    border-radius: 9px;
    border-radius: 0px 6px 50px 0.6 rgb(37, 36, 36);
    background-color: #F7EBCF;
}
.box-title{
    font-size: 25px;
    font-weight: bold;
    color:black;
}
.box-description{
    font-size: 16px;
    color: #0E0E0E;
}
.btns1{
    padding-top: 10px;
    padding-bottom: 10px;
    background-color: #5490F5;
    border-radius: 6px;
    border: none;
}
.btns2{
    padding-top: 10px;
    padding-bottom: 10px;
    background-color: #09A15C;
    border-radius: 6px;
    border: none;
}
.btns3{
    padding-top: 10px;
    padding-bottom: 10px;
    background-color:  #FFC239;
    border-radius: 6px;
    border: none;
}
.box-description{
    color:#0E0E0E;
}
.sec-title{
    font-weight: bolder;
}
.description .p-description{
    background-image: url(../imeges/quote-bg.png);
    background-repeat: no-repeat;
    padding-top: 28px;
    color: #0E0E0E;
}

.mews-imag{
    border: 5px solid;
    border-radius: 24px;
    border: none;
}


.news-hhh{
    padding-left: 30px;
}
.icon-nnn{
   
}
.nnnn-ews{
    display: flex;
    background-color: #e7e7e7;
    border-radius: 24px;
    width: 80%;
    right-width: 50%;
    box-shadow: none;
    align-items: center;
    
}
.btnsx{
    background-color: #006A50;
    padding: 10px;
    border-radius: 8px;
    border: none;
    color: #FFFF;
}
.ppp{
    color: #0E0E0E;
}
.news-head{
    font-weight: 700;
}
.hhh{
    font-weight: 600;
}

.fff-ggg{
    float: inline-end;
    position: relative;
    height: 300px;
    border: 1px solid;
    
}
.fff-ddd{
   border:  solid;
   border-radius: 24px;
   border: none;
   
}
.kkk-lll{
    text-align: center;
}
.hhh-111{
    text-align: center;
}
.donate-ddd{
    text-align: center;
    font-weight: bolder;
    
}
.box-content{
    display: flex;
    justify-content: center;
    padding: 15px;
    gap: 50px;
}
.box4{
    border: 1px solid black;
    background-color:#e7e7e7;
    gap: 50px;
  padding: 30px;
  border-radius: 8px;
  border: none;
  cursor:pointer;

}
.box5{
    border: 1px solid black;
    background-color: #C6E4D6;
    gap: 40px;
    padding: 30px;
    border-radius: 8px;
    border: none;
    cursor:pointer;
}
.box6{
    border: 1px solid black;
    background-color: #e7e7e7;
    gap: 50px;
    padding: 30px;
    border-radius: 8px;
    border: none;
    cursor:pointer;
}
.box7{
    border: 1px solid black;
    background-color: #e7e7e7;
    gap: 50px;
    padding: 30px;
    border-radius: 8px;
    border: none;
    cursor:pointer;
}
.center-ccc{
    text-align: center;
    box-shadow: 0px 15px 20px rgba(255, 255, 255, 0.6);
   
    
}
.input-size{
    padding-top: 32px;
    padding-right: 70px;
    text-align: center;
    font-size:xx-large;
    color: #e7e7e7;
    border: none;
    background-color: #e7e7e7;
}
.btnx9{
    display: block;
    margin: auto;
    background-color: #006A50;
    color: #FFFF;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 15px ;
    padding-right: 15px ;
    border: none;
    border-radius: 5px;
}
.sss-mmm{
    color: rgb(53, 51, 51);
}
.newas{
    text-align: center;
}
.input-sss{
    padding-top: 32px;
    padding-right: 70px;   
    font-size:x-large;
    border: none;
    background-color: #e7e7e7;
    color: #e7e7e7;
}
.btnf5{
    border-radius: 0px 10px 10px 0px;
    padding: 26px 10px 0px 10px;
    background-color: #006A50;
    color: #FFFF;
    font-weight: 700;
    font-size: xx-large
}
